*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://images.creativemarket.com/0.1.0/ps/779360/580/386/m2/fpnw/wm0/prew-3-.jpg?1447567647&s=9bb8f79d457886350b04a547471b638a);
}
footer{ 
    background: rgb(228,145,195);
        background: linear-gradient(to left, rgba(228,145,195,1) 31%, rgba(87,145,175,1) 100%);
    height: 20%;
    width: 100%;
    margin-top: auto;
    .contacto{
        font-size: 22px;
        font-weight: bold;
        font-family: 'Kalam', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 40px 10px 50px;    
            @media(min-width:1024px){
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        .icon{
            height: 30px;
            width: 30px;
        }
        .tel{
            font-size: 18px;
            margin-bottom: 0;
            margin: 0px 30px 0px 30px;
        }
        .localidad{
            font-size: 18px;
            margin: 0px 30px 0px 30px;
        }
        
    }
}
