.name{
    font-size: 20px;    
    font-family: 'Kalam', cursive;
    font-weight: 600;
    margin: 0px 0px 10px 20px;
    color: $color;

    @media(min-width:570px){
        font-size: 28px;
        margin: 20px 0px 10px 70px;
    }

    @media(min-width:768px){
        font-size: 30px;
    }

}
.imagen{
    width: 180px;
    height: 178px;
    margin: 0px 0px 20px 0px;

    @media(min-width: 570px){
        width: 320px;
        height: 318px;
    }

    @media(min-width:768px){
        width: 350px;
        height: 348px;
    }
}
.video{
    width: 286px;
    height: 404px;
    margin: 0px 0px 10px 20px;


    @media(min-width:570px){
        width: 510px;
        height: 722px;
        margin: 0px 10px 20px 10px;
    }

    @media(min-width:768px){
        width: 600px;
        height: 849px;
        margin: 0px 0px 20px 70px;
    }
    @media(min-width: 1024px){
        margin: 0px 0px 40px 450px;
    }

}

.fotoIg{
    width: 300px;
    height: 470px;
    margin: 10px 0px 10px 20px;

    @media(min-width:570px){
        width: 400px;
        height: 570px;
        margin: 40px;
    }
    @media(min-width: 1024px){
        width: 668px;
        height: 838px;
        margin: 30px 0px 30px 200px;
    }
} 
.background__color{
    background-color: rgba(224, 236, 255, 0.945);
    margin:0px 10px 30px 10px;
    
    @media(min-width: 570px){
        margin:0px 20px 30px 20px;
    }
    
    @media(min-width: 1024px){
        margin:0px 30px 20px 30px;
    }
}
.nav-link{
    font-family: 'Caveat', cursive;
    margin: 0px 10px;
    font-size: 28px;


    @media(min-width: 1024px){
        font-size: 28px;
        margin: 0px 50px;
        padding: 8px;
        color: white!important;
    }

}
