.primerParrafo{
    font-size: 28px;
    padding: 5px;
    margin-left: 10px;
    font-family: sans-serif;
    color: #272727;
}
.segundoParrafo{
    font-size: 24px;
    padding: 5px;
    margin-left: 30px;
    font-family: sans-serif;
}
