@import "variableGlobal";
@import "fonts";
@import "generales";
@import "nav";
@import "titulo";
@import "parrafo";
@import "media";



.productos{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    grid-template-areas:
    "name1"
    "item1"
    "name2"
    "item2"
    "name3"
    "item3"
    "name4"
    "item4";
    margin: 0px 0px 10px 60px;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.name1{
    grid-area: name1;
}
.name2{
    grid-area: name2;
}
.name3{
    grid-area: name3;
}
.name4{
    grid-area: name4;
}

.instagram{
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    padding: 20px;
    color: $color;
    margin-top: 20px;
    text-decoration: underline;
}

.letra{
    font-family: 'Kalam', cursive;
    font-weight: bolder;
}
.link:hover{
    transition: all;
    transition-delay: 1ms;
}
@media(min-width:1024px){
    .nav-bar{
        color: white!important;
    }
    .nav-link:hover{
        color: rgb(255, 248, 188)!important;
        font-weight: 600;
    }
    .container{
        margin: 10px;
    }    
    .productos{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-areas:
        "name1 name2"
        "item1 item2"
        "name3 name4"
        "item3 item4"
        ;
        margin: 0px 0px 10px 20px
    }

    .container-fluid{
        height: 70px;
    }
    
}
.mainContact{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(224, 236, 255, 0.959);
    margin:0px 15px 10px 15px;
    padding: 10px;

        @media(min-width: 570px){
            margin: 0px 30px 15px 30px;
        }
}
.container{
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 15px;
        @media(min-width: 768px){
            max-width: 600px;
        }
    .title{
        font-size: 30px;
        font-weight:500;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(0, 52, 112)
    }
    .user-details{
        display: flex;    
        flex-direction: column;
        align-items: stretch;

        .input-box input{ 
            height: 45px;
            width: 110%;
            margin-bottom: 15px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding-left: 15px;
            font-size: 18px;
            font-family: sans-serif;
            @media(min-width: 570px){
                width: 150%;
            }
            @media(min-width: 768px){
                width: 230%;
            }
        }
        .mensaje{
            height: 150px;
            width: 100%;
            margin-bottom: 15px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding-left: 15px;
            font-size: 18px;
            font-family: sans-serif;
        }
    }
    .button{
        height: 45px;
        
        input{
            height: 100%;
            width: 100%;
            outline: none;
            background: linear-gradient(to right, rgba(228,145,195,1) 31%, rgba(87,145,175,1) 80%);
            border: none;
            border-radius: 5px;
            font-weight: 500;
        }
    }
}



