@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Kalam:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://images.creativemarket.com/0.1.0/ps/779360/580/386/m2/fpnw/wm0/prew-3-.jpg?1447567647&s=9bb8f79d457886350b04a547471b638a);
}

footer {
  background: rgb(228, 145, 195);
  background: linear-gradient(to left, rgb(228, 145, 195) 31%, rgb(87, 145, 175) 100%);
  height: 20%;
  width: 100%;
  margin-top: auto;
}
footer .contacto {
  font-size: 22px;
  font-weight: bold;
  font-family: "Kalam", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px 10px 50px;
}
@media (min-width: 1024px) {
  footer .contacto {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer .contacto .icon {
  height: 30px;
  width: 30px;
}
footer .contacto .tel {
  font-size: 18px;
  margin-bottom: 0;
  margin: 0px 30px 0px 30px;
}
footer .contacto .localidad {
  font-size: 18px;
  margin: 0px 30px 0px 30px;
}

.header {
  width: 100%;
}

.color {
  background: rgb(228, 145, 195);
  background: linear-gradient(to right, rgb(228, 145, 195) 31%, rgb(87, 145, 175) 80%);
}

.toycreando {
  width: 90px;
  height: 90px;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 500;
  font-family: "Caveat", cursive;
}

.titulo {
  font-size: 37px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Kalam", cursive;
}

h1 {
  color: #000000;
}

.primerParrafo {
  font-size: 28px;
  font-weight: 500;
  padding: 5px;
  margin-left: 10px;
  color: #013d81;
  font-family: "Kalam", cursive;
}

.segundoParrafo {
  font-size: 30px;
  padding: 5px;
  color: #013d81;
  margin-left: 30px;
  font-family: "Kalam", cursive;
  font-weight: 500;
}

.name {
  font-size: 20px;
  font-family: "Kalam", cursive;
  font-weight: 600;
  margin: 0px 0px 10px 20px;
  color: blue;
}
@media (min-width: 570px) {
  .name {
    font-size: 28px;
    margin: 20px 0px 10px 70px;
  }
}
@media (min-width: 768px) {
  .name {
    font-size: 30px;
  }
}

.imagen {
  width: 180px;
  height: 178px;
  margin: 0px 0px 20px 0px;
}
@media (min-width: 570px) {
  .imagen {
    width: 320px;
    height: 318px;
  }
}
@media (min-width: 768px) {
  .imagen {
    width: 350px;
    height: 348px;
  }
}

.video {
  width: 286px;
  height: 404px;
  margin: 0px 0px 10px 20px;
}
@media (min-width: 570px) {
  .video {
    width: 510px;
    height: 722px;
    margin: 0px 10px 20px 10px;
  }
}
@media (min-width: 768px) {
  .video {
    width: 600px;
    height: 849px;
    margin: 0px 0px 20px 70px;
  }
}
@media (min-width: 1024px) {
  .video {
    margin: 0px 0px 40px 450px;
  }
}

.fotoIg {
  width: 300px;
  height: 470px;
  margin: 10px 0px 10px 20px;
}
@media (min-width: 570px) {
  .fotoIg {
    width: 400px;
    height: 570px;
    margin: 40px;
  }
}
@media (min-width: 1024px) {
  .fotoIg {
    width: 668px;
    height: 838px;
    margin: 30px 0px 30px 200px;
  }
}

.background__color {
  background-color: rgba(224, 236, 255, 0.945);
  margin: 0px 10px 30px 10px;
}
@media (min-width: 570px) {
  .background__color {
    margin: 0px 20px 30px 20px;
  }
}
@media (min-width: 1024px) {
  .background__color {
    margin: 0px 30px 20px 30px;
  }
}

.nav-link {
  font-family: "Caveat", cursive;
  margin: 0px 10px;
  font-size: 28px;
}
@media (min-width: 1024px) {
  .nav-link {
    font-size: 28px;
    margin: 0px 50px;
    padding: 8px;
    color: white !important;
  }
}

.productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "name1" "item1" "name2" "item2" "name3" "item3" "name4" "item4";
  margin: 0px 0px 10px 60px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.name1 {
  grid-area: name1;
}

.name2 {
  grid-area: name2;
}

.name3 {
  grid-area: name3;
}

.name4 {
  grid-area: name4;
}

.instagram {
  font-family: "Kalam", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  padding: 20px;
  color: blue;
  margin-top: 20px;
  text-decoration: underline;
}

.letra {
  font-family: "Kalam", cursive;
  font-weight: bolder;
}

.link:hover {
  transition: all;
  transition-delay: 1ms;
}

@media (min-width: 1024px) {
  .nav-bar {
    color: white !important;
  }
  .nav-link:hover {
    color: rgb(255, 248, 188) !important;
    font-weight: 600;
  }
  .container {
    margin: 10px;
  }
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "name1 name2" "item1 item2" "name3 name4" "item3 item4";
    margin: 0px 0px 10px 20px;
  }
  .container-fluid {
    height: 70px;
  }
}
.mainContact {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(224, 236, 255, 0.959);
  margin: 0px 15px 10px 15px;
  padding: 10px;
}
@media (min-width: 570px) {
  .mainContact {
    margin: 0px 30px 15px 30px;
  }
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
.container .title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 52, 112);
}
.container .user-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.container .user-details .input-box input {
  height: 45px;
  width: 110%;
  margin-bottom: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 18px;
  font-family: sans-serif;
}
@media (min-width: 570px) {
  .container .user-details .input-box input {
    width: 150%;
  }
}
@media (min-width: 768px) {
  .container .user-details .input-box input {
    width: 230%;
  }
}
.container .user-details .mensaje {
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 18px;
  font-family: sans-serif;
}
.container .button {
  height: 45px;
}
.container .button input {
  height: 100%;
  width: 100%;
  outline: none;
  background: linear-gradient(to right, rgb(228, 145, 195) 31%, rgb(87, 145, 175) 80%);
  border: none;
  border-radius: 5px;
  font-weight: 500;
}/*# sourceMappingURL=estilos.css.map */